.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

 ul{
  margin:0;
  padding:0;
}

header{
  background: #303030;
  color:#ffffff;
  min-height:70px;
  margin-top: 0px;
  padding-top:20px;
}

header a{
  text-decoration: none;
  color: white;
}
#branding h1{
  margin: 0px;
}

#showcase{
  min-height:400px;
  background:url('../img/show7.jpg') no-repeat 0 -400px;
  opacity: 0.8;
  background-size: cover;
  text-align:center;
  color:#ffffff;
}

#showcase h2{
  font-size:45px;
}
#showcase h3{
  padding-top: 50px;
  font-size: 50px;
}

#showcase p{
  font-size:30px;
}
#boxes{
  margin-top:20px;
}

footer{
  background:#303030;
  text-align: center;
  color:#ffffff;
  display: block;
  padding: 5px;
  margin-top:15px;
}
